body {
  color: #a68d40;
  background: #fff8e0;
  pisition: relative;
}
.block {
  background: #fff5d5;
  text-align: center;
  border: 1px solid #a68d40;
  border-radius: 4px;
  width: 60%;
  margin: 10% auto auto auto;
  pisition: relative;
}
.button {
  background: #fff1c6;
  text-align: center;
  border: 1px solid #000;
  border-radius: 20%;
  margin: 4px;
  padding: 4px;
}
.button:hover {
  background: #bfb89f;
  color: #f00;
  cursor: pointer;
}
.small {
  font-size: xx-small;
  display: inline-block;
}
.buttons {
  width: 30%;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.input-block,
.input {
  border: 1px solid #fff8e0;
  border-radius: 4px;
  background: #fff8e0;
  color: #a68d40;
  display: block;
  margin: 5px;
}
.input:focus {
  background: #fff5d5;
  border: 1px solid #a68d40;
}
.password-span {
  margin: 2px 5px;
  cursor: text;
}
.password-span:hover {
  background: #fff8e0;
}
.button-dell-pass {
  cursor: pointer;
}
