div-bg-color = #DEBEE3;


body
    color: red;
    background: #FFF8E0;

.block
    background: #FFF5D5;
    border: 1px solid #A68D40;
    border-radius: 4px;
    width: 60%;

#index
    color: black;

#signUp
    color: black;

#singIn
    color: black;
