div-bg-color = #DEBEE3;


body
    color: #A68D40;
    background: #FFF8E0;
    pisition: relative;

.block
    background: #FFF5D5;
    text-align: center;
    border: 1px solid #A68D40;
    border-radius: 4px;
    width: 60%;
    margin: 10% auto auto auto;
    pisition: relative;

.button
    background: #FFF1C6;
    text-align: center;
    border: 1px solid black;
    border-radius:20%;
    margin: 4px;
    padding: 4px;

.button:hover
    background: #BFB89F;
    color: red;
    cursor: pointer;

.small
    font-size: xx-small;
    display: inline-block;

.buttons
    width: 30%;
    position: relative;
    margin: 0 auto;
    text-align: center;

.input-block


.input
    border: 1px solid #FFF8E0;
    border-radius: 4px;
    background: #FFF8E0;
    color: #A68D40;
    display: block;
    margin: 5px;

.input:focus
    background: #FFF5D5;
    border: 1px solid #A68D40;

.password-span
    margin: 2px 5px;
    cursor: text;

.password-span:hover
    background: #FFF8E0;

.button-dell-pass
    cursor: pointer;
